body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #009688; /* Emerald Green */
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: url('map-of-the-world-in-cool-blue-watercolor-irina-sztukowski.jpg') no-repeat center center;
    background-size: cover;
}

main {
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px;
    text-align: center;
}

#controls {
    margin-bottom: 20px;
}

#country {
    padding: 5px;
}

button {
    padding: 5px;
    cursor: pointer;
    background-color: #009688;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #00796b; /* Darker shade of emerald green on hover */
}
/* 
#result {
}

.city-table {
}

.country-list {
}
*/